<ion-header>
  <ion-toolbar color="primary">
    <ion-menu-button menu="main-menu"></ion-menu-button>

  </ion-toolbar>
</ion-header>


<ion-content  fullscreen >

    <div id="header">
      <img src="assets/icon/logo+.png" />
    </div>

    <form id="form" [formGroup]="validations_form" (ngSubmit)="loginUser(validations_form.value)">
      <app-input placeholder="Email" formControlName="email">
        <ion-icon name="person-outline" slot="start"></ion-icon>
      </app-input>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.email">
          <div class="error-message"
            *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>

      <app-input type="password" placeholder="Password" formControlName="password" required>
        <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
      </app-input>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.password">
          <div class="error-message"
            *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>

      <ion-button  class="pass" type="button" expand="block" color="medium" fill="clear" slot="end">Forgot password?
      </ion-button>
      <ion-button expand="full" size="large" type="submit" (click)="login()">LOGIN</ion-button>

    </form>

    <ion-button (click)="goToRegisterPage()" type="button" expand="block" color="medium" fill="clear">Don't have an account? Sign up here
    </ion-button>
    <ion-row class="ha">
      <ion-label color="medium">
        - OR -
      </ion-label>
    </ion-row>
  

    <ion-button fill="clear" class="googlebtn ion-no-padding">
      <img class="smt" src="assets/images/google.png">
    </ion-button>
    <ion-button class="smt" fill="clear" class="fbbtn ion-no-padding">
      <img src="assets/images/facebook.png">
    </ion-button>

</ion-content>
