.slide {
      
    --background: #ffffff;
     .search {
        margin-top: 120px;
      }

      .logo{
          margin-top: 30px;
      }
      
      h2{
        text-align: center;
        font-weight: 500;
        font-size: 20px;
        color: #7e7e7d;
        margin-top: 20%;  
      }
      h3{
        text-align: center;
        font-weight: 500;
        font-size: 20px;
        color: #7e7e7d;
        margin-top: 20%;  
      }
      .presset{
        margin-top: 150px; 
      }
    }
    .slide1{
        --background: #ffffff;
        .search {
           margin-top: 120px;
         }
   
         .logo{
             margin-top: 30px;
         }
         
         h2{
           text-align: center;
           font-weight: 500;
           font-size: 18px;
           color: #7e7e7d;
           margin-top: 20%;  
         }
         h3{
           text-align: center;
           font-weight: 500;
           font-size: 18px;
           color: #7e7e7d;
           margin-top: 20%;  
         }
         .presset{
           margin-top: 100px; 
         }
       }
       .slide2{
        --background: #ffffff;
        .search {
           margin-top: 120px;
         }
   
         .logo{
             margin-top: 30px;
         }
         
         h4{
           text-align: center;
           font-weight: 500;
           font-size: 18px;
           color: #7e7e7d;
           margin-top: 20%;  
         }
         h5{
           text-align: center;
           font-weight: 500;
           font-size: 18px;
           color: #7e7e7d;
           margin-top: 20%;  
         }
         .open{
           margin-top: 50px; 
         }
       }
       .slide3{
        --background: #ffffff;

         
         h6{
           text-align:center;
           font-weight: 500;
           font-size: 18px;
           color: #7e7e7d;
           margin-top: 20%;
           margin-bottom: 0%;  
         }
         h1{
           text-align: center;
           font-weight: 500;
           font-size: 18px;
           color: #7e7e7d;
           margin-top: 20%;  
         }
         .burger{
           margin-top: 40px; 
           text-align: center;
           
         }

         .ok{
             margin-top: 10%;
         }

        
       }
       ion-menu-button {
        color: white;
        float: left;
        width: unset;
        font-size: 2em;
        margin-top: 0.3em;
        margin-left: 0.3em;
      }
    
  