<ion-header>
  <ion-toolbar color="primary">
    </ion-toolbar>
  <ion-header class="ion-no-border">
   </ion-header>

<ion-content fullscreen="true" scroll-y="false">
  <div id="header">
    <img src="assets/icon/logo+.png" />
  </div>
  <h1>Welcome to Clover!<br>
    Clover  can help you<br> 
    with the indoor climate</h1>
    <h1>Do you want to take a<br> 
      quick tour of the app?</h1>
     <ion-button class="yes" expand="full" size="large" >Yes</ion-button>
     <ion-button class="no" expand="full" size="large" >No</ion-button>

</ion-content>
