.inner-toolbar{
    color: rgb(245, 244, 244) !important;
    text-align: center;
    font-size: 1.5rem;
  }

ion-list {
    background: #35BEB6;  
}

ion-toolbar{

    --background:#35BEB6 ;
}

.inner-text {
    margin-left: 0.6rem;
}
ion-button{
    font-size: inherit;
}