ion-content {
    --background: #ffffff;
  
    h1 {
      text-align: center;
      font-weight: 500;
      font-size: 21px;
      color: #7e7e7d;
      margin-top: 20%;
      
    }
  
    img{
        margin-left: 60px;
        margin-top: 30px;
    }
    ion-searchbar{
        margin-right: auto;
        margin-left: auto;
        border-radius: 20px;
        margin-top: 20%;

    }
}