<ion-header>
  <ion-toolbar color="primary">
    <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-toolbar>
  <ion-header class="ion-no-border">
   </ion-header>

<ion-content fullscreen="true" scroll-y="false">
  <div id="header">
    <img src="assets/icon/logo+.png" />
  </div>
  <h1>
    Please check the table <br>
    and introduce the code<br>
    in the search bar.</h1>

    <form >
      <ion-searchbar
      (search)="searchForIsland($event.target.value)"
         showCancelButton="focus"
         >
      </ion-searchbar>
    </form>
</ion-content>
